body {
    background-color: lightblue;
}
  
h1 {
    color: navy;
    margin-left: 20px;
}

#main {
    max-width: 1280px;
    width: 80%;
}

#photo {
    width: 30%;
    border-color: 1px solid red;
    float: left;
}
#profile {
    width: 70%;
    float: right;
    border: 1px solid slateblue;
}