body {
    background-color: lightblue;
}
  
h1 {
    color: navy;
    margin-left: 20px;
}

#main {
    max-width: 1280px;
    width: 80%;
    background-color: darkgreen;
}

#photo {
    width: 30%;
    background-color: red;
    float: left;
}
#profile {
    width: 70%;
    float: right;
    background-color: slateblue;
}